﻿@model IEnumerable<Models.Entities.Usuario>

@{
    ViewData["Title"] = "ListarConductores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListarConductores</h1>

<div class="card" style="background: bottom; border: none; margin: 20px">
    <div class="form-row" style="background: white;margin-top: 100px;">
        <div class="card-body" style="display:flex;align-items:center;justify-content:space-between">
            <h4 class="card-title">Lista de Conductores en la Empresa</h4>
        </div>
    </div>
</div>
<br />
<div class="table-responsive" style="margin:20px">
    <table class="table table-bordered table-condensed table-striped table-hover sortable" style="width:95%">
        <thead style="background: royalblue; color: white;">
            <tr style="text-align:center">
                <th>
                    @Html.DisplayNameFor(model => model.correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaLibreta)
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
        <tr>
            <td colspan="10">No hay conductores.</td>
        </tr>
        }
        else
        {

        <tbody>
            @foreach (var item in Model)
                {
            <tr style="background:white">
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaLibreta)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idUsuario"><i class="fa fa-marker fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.idUsuario" class="text-danger ml-1"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
            }
        </tbody>
        }
    </table>
</div>