﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<center>
    <div class="row" style=" display: flex; align-items: center; justify-content: center;">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.correo"></label>
                    <input asp-for="Input.correo" class="form-control" />
                    <span asp-validation-for="Input.correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.nombre"></label>
                    <input asp-for="Input.nombre" class="form-control" />
                    <span asp-validation-for="Input.nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.apellido"></label>
                    <input asp-for="Input.apellido" class="form-control" />
                    <span asp-validation-for="Input.apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</center>
