﻿@using Microsoft.AspNetCore.Identity
@using UruguayBus.Areas.Identity.Data

@inject SignInManager<UruguayBusUser> SignInManager
@inject UserManager<UruguayBusUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <label id="manage" class="nav-link text-black">@UruguayBus.Data.Temp.Instance.GetUs().nombre</label>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-black">Logout</button>
            </form>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" style="color:black" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="login" asp-area="Identity" style="color:black" asp-page="/Account/Login">Login</a>
        </li>

    }
</ul>
