﻿@model IEnumerable<Models.Entities.Viaje>

@{
    ViewData["Title"] = "ListarViajes";
}

<br />
<div class="card" style="background: bottom; border: none; margin: 20px">
    <div class="form-row" style="background: white;margin-top: 100px;">
        <div class="card-body" style="display:flex;align-items:center;justify-content:space-between">
            <h4 class="card-title">Lista de Viajes en la Empresa</h4>
            <a asp-action="Create" class="btn btn-info">Añadir Viaje</a>
        </div>
    </div>
</div>
<br />
<div class="table-responsive" style="margin:20px">
    <table class="table table-bordered table-condensed table-striped table-hover sortable" style="width:95%">
        <thead style="background: royalblue; color: white;">
            <tr style="text-align:center">
                <th>
                    @Html.DisplayNameFor(model => model.fechaInicial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaFinal)
                </th>
                <th>
                    Horario
                </th>
                <th>
                    Acciones
                </th>
                <th></th>
            </tr>
        </thead>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No hay Viajes creados.</td>
            </tr>
        }
        else
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="background:white">
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Horario.FullName)
                        </td>
                        <td>
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.idViaje"><i class="fa fa-marker fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        </table>
